<mat-toolbar class="justify-between">
  <div class="d-flex align-center">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Full Authentication</span>
  </div>

  <div class="d-flex align-center gap-10">
    <app-theme-toggle></app-theme-toggle>

    <div class="avatar-container" [matMenuTriggerFor]="menu">
      @if ((profile$ | async); as profile) { @if (profile.avatar) {
      <div
        class="image-container"
        [ngStyle]="{
          backgroundImage: 'url(' + IMAGE_URL + profile.avatar + ')'
        }"
      ></div>
      } @else {
      <div class="image-container avatar-placeholder"></div>
      } } @else {
      <div class="image-container avatar-placeholder"></div>
      }
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="./profile">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>

  <a mat-menu-item routerLink="./device">
    <mat-icon>devices</mat-icon>
    <span>Device</span>
  </a>

  <button type="button" mat-menu-item (click)="onLogout()">
    <mat-icon color="warn">logout</mat-icon>
    <span class="logout">Log out</span>
  </button>
</mat-menu>
