<div class="bg-stars">
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
</div>
