:host-context(body.dark-theme) {
  .verify-container {
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #141314 100%);
  }
}

.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #ffd9e1 0%, #f9f9f9 100%);

  .icon {
    padding: 20px;
    transform: scale(2);
  }

  mat-card {
    max-width: 500px;
    opacity: 0.8;
  }

  mat-icon {
    color: #f44336;
    margin-right: 20px;
  }
}
