<app-background-animation></app-background-animation>
<main class="d-flex justify-center align-center dvh-100 dvw-100">
  <section class="container auth-container w-100">
    <div class="toggle-container">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <div class="icon-container">
      <mat-icon>
        <a
          href="https://github.com/12ain13owz/full-authentication"
          target="_blank"
        >
          <i class="fa fa-github"></i>
        </a>
      </mat-icon>
    </div>

    <mat-card appearance="outlined">
      <router-outlet></router-outlet>
    </mat-card>
  </section>
</main>
