<div class="bg-stars">
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
  <div class="bg-star"></div>
</div>

<main class="d-flex justify-center align-center dvh-100 dvw-100">
  <section class="container auth-container w-100">
    <div class="toggle-container">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <mat-card appearance="outlined">
      <router-outlet></router-outlet>
    </mat-card>
  </section>
</main>
