@if (isLoading) {
<app-progress-bar></app-progress-bar>
}

<mat-card-header>
  <mat-card-title>Forgot Password</mat-card-title>
</mat-card-header>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="emailForm">
    <form [formGroup]="emailForm">
      <ng-template matStepLabel>Email</ng-template>
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" formControlName="email" />

        <mat-error>
          <app-error-field
            [control]="email"
            [errorMessage]="validationField.email"
          >
          </app-error-field>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-flat-button (click)="sendOTP()" [disabled]="isLoading">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="otpForm">
    <form [formGroup]="otpForm">
      <ng-template matStepLabel>OTP</ng-template>
      <mat-form-field class="w-100">
        <input matInput placeholder="OTP" formControlName="otp" />

        <mat-error>
          <app-error-field [control]="otp" [errorMessage]="validationField.otp">
          </app-error-field>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="passwordForm">
    <form [formGroup]="passwordForm">
      <ng-template matStepLabel>Password</ng-template>

      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hidePasswords().password ? 'password' : 'text'"
        />

        <button
          type="button"
          mat-icon-button
          matSuffix
          tabindex="-1"
          (click)="onHidePasswords('password', $event)"
        >
          <mat-icon>{{
            hidePasswords().password ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error>
          <app-error-field
            [control]="password"
            [errorMessage]="validationField.password"
          >
          </app-error-field>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hidePasswords().confirmPassword ? 'password' : 'text'"
        />

        <button
          type="button"
          mat-icon-button
          matSuffix
          tabindex="-1"
          (click)="onHidePasswords('confirmPassword', $event)"
        >
          <mat-icon>{{
            hidePasswords().confirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error>
          <app-error-field
            [control]="confirmPassword"
            [errorMessage]="validationField.confirmPassword"
          >
          </app-error-field>
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-flat-button
          (click)="resetPassword()"
          [disabled]="isLoading"
        >
          Reset Password
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Your password has been reset successfully.</p>
  </mat-step>
</mat-horizontal-stepper>

<mat-card-content class="d-flex justify-end">
  <a mat-button routerLink="../login">Login</a>
</mat-card-content>
